
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, target-densitydpi=medium-dpi" />
    <link rel="stylesheet" href="/css/jquery.mobile-1.4.5.min.css">
    
    <style type="text/css">
    .ui-bar {
    padding :5px 0px 5px 0px !important;
    margin :5px 0px 5px 0px !important;
    }

    ​.ui-page .ui-content .ui-listview .ui-li-desc {
    white-space : normal;
    }​
    </style>

    <script src="/js/jquery-3.1.0.min.js"></script> 
    <script src="/js/jquery-migrate-3.0.0.min.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/additional-methods.min.js"></script>
    <script type="text/javascript" src="/js/jquery.mobile-1.4.5.min.js"></script>
    


<script type='text/javascript'>

function pokeSubmit(){

    document.getElementById("submitButton").className="ui-btn ui-state-disabled";
    // API accepts lowercase only
    var param = document.getElementById("pokeInput").value.toLowerCase();
    var pokeURL = "http://pokeapi.co/api/v1/pokemon/" + param;
    var pokeURL2 = "http://pokeapi.co/api/v2/pokemon/" + param;
    //var imageURI = "http://pokeapi.co/media/sprites/pokemon/" + param + ".png";
    

    $.ajax({
        error: function(){
            toast("Error: Not a valid Pokemon")
            console.log("error: Not a valid Pokemon name or #");
            document.getElementById("submitButton").className="ui-btn";
            $("#pokeDetails").empty();
            $("#pokeDetails").promise().done(function(){
                    $(this).listview("refresh");
                });
        },
        beforeSend: function(){ $.mobile.loading('show');},
        complete: function(){ $.mobile.loading('hide'); },
        type: "GET",
        crossDomain: true,
        url: pokeURL,
        dataType: "jsonp"
    }).done(function(data){
        console.log(data);
        var pokeID = data.national_id;
        var pokeName = data.name;

        var pokeType1 = data.types[0].name;
        if (data.types.length == 2) {
            var pokeType2 = data.types[1].name;
        }
        else var pokeType2 = null;
        var descriptionURI = "http://pokeapi.co" + data.descriptions[0].resource_uri;
        var pokeDescription = "";
        var imageURI = "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/" + pokeID + ".png";

        $.ajax({
            type: "GET",
            crossDomain: true,
            url: descriptionURI,
            dataType: "jsonp"
        }).done(function(data2){
            console.log(data2);
            pokeDescription = data2.description;

            console.log("Number: ", pokeID);
            console.log("Name: ", pokeName);
            console.log("Type 1: ", pokeType1);
            console.log("Type 2: ", pokeType2);
            console.log("Description URI: ", descriptionURI);
            console.log("Description: ", pokeDescription);
            console.log("Image URI: ", imageURI);

            var li = "";
            li += '<li><img src="' + imageURI + '">';
            li += '<h1>#' + pokeID + ' ' + pokeName + '</h1>';
            li += '<p>Type 1: ' + pokeType1 + '</p>';

            if (pokeType2 != null){
                li += '<p>Type 2: ' + pokeType2 + '</p>';
            }

            li += '<p>' + pokeDescription + '</p>';
            li += '</li>';

            $("#pokeDetails").empty();
            $("#pokeDetails").append(li).promise().done(function(){
                    $(this).listview("refresh");
                });
            document.getElementById("submitButton").className="ui-btn";
        });

    });
}

// toast-like notification
// https://gist.github.com/kamranzafar/3136584
function toast(message) {
    var $toast = $('<div class="ui-loader ui-overlay-shadow ui-body-e ui-corner-all"><h3>' + message + '</h3></div>');

    $toast.css({
        display: 'block', 
        background: '#fff',
        opacity: 0.90, 
        position: 'fixed',
        padding: '7px',
        'text-align': 'center',
        width: '270px',
        left: ($(window).width() - 284) / 2,
        top: $(window).height() / 2 - 20
    });

    var removeToast = function(){
        $(this).remove();
    };

    $toast.click(removeToast);

    $toast.appendTo($.mobile.pageContainer).delay(2000);
    $toast.fadeOut(400, removeToast);
}

</script>


  <title>Pokeapi Example by Dennis Tat</title>
  
</head>

<body>

<!-- app search page-->
<div data-role="page" id="pokeSearch-page">
    <div data-role="header" data-theme="b">
         <h1>Pokeapi</h1>
    </div>
    <div data-role="main" class="ui-content">
    <form id="pokeForm" action="#pokeDetails-page" method="post">
        <div>
        <label for="pokeInput">Pokemon name or number:</label>
        <input type="text" name="pokeInput" id="pokeInput" placeholder="Name/Number" value="" required pattern=".*\S+.*">

        </div>
        <br>
        <div>
        <a id="submitButton" class="ui-btn" onclick="pokeSubmit();">Search</a>
        </div>
    </form>
    <div id="pokeData">
    <ul data-role="listview" data-inset="true" id="pokeDetails">
    </ul>
    </div>
    </div>
</div>

</body>
</html>

