<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster 
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>-->
    <script src="js/jquery-3.1.0.min.js"></script> 
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.validate.js"></script>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

    <script type="text/javascript" src="js/jquery.mobile-1.4.5.min.js"></script>
    <script src="js/jquery-migrate-3.0.0.min.js"></script>
    <script src="js/additional-methods.min.js"></script>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Dennis Tat"/>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <title>{% block title %}{% endblock %}</title>    
</head>
<body>
<!-- nav bar-->    
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">PokeAPI Guide</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li id="pg0"><a href="/page0">Start with HTML</a></li>
        <li id="pg1"><a href="/page1">API Request</a></li>
        <li id="pg2"><a href="/page2">JSON Response</a></li>
        <li id="pg3"><a href="/page3">Finding Data</a></li>
        <li id="pg4"><a href="/page4">Descriptions</a></li>
        <li id="pg5"><a href="/page5">Images</a></li>
        <li id="pg6"><a href="/page6">Display Data</a></li>
        <li id="pg7"><a href="/app">Web Application Example</a></li>

      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    <!-- Wrap all page content here -->
    <div id="wrap">
        <!-- Begin page content -->
        <div class="container">
            {% block content %} {% endblock %}
        </div> <!--end of container-->
    </div>




    <!-- selects active page in nav bar-->
<script>
      //var active = document.getElementById("pg{{pageNum}}");
      //active.className += "active";
</script>


    {% block footer_script %}{% endblock%}
</body>
</html>