{% extends "template/base.html" %}
{% block title %}Edit Item{% endblock %}
{% block content %}
            <div class="page-header">
                <h3>Edit Item Record</h3>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="/" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-arrow-left"></span>  View Data</a>
                </div>
                <div class="panel-body">
                    <form id="item-entry" class="form-horizontal" role="form" method="post" action="/edit">
                        <input type="hidden" name="id" value = "{{item.key.id()}}">
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="title">Title</label>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" id="title" name="title" value="{{item.title}}" required pattern=".*\S+.*" title="This field is required."/>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="">Type</label>
                            <div class="col-lg-4">
                            <div class="radio">
                                <label><input {% if item.typeof == 'Film'%}checked{% endif %} type="radio" name="typeof" value="Film" required>Film</label>
                            </div>
                            <div class="radio">
                                <label><input {% if item.typeof == 'Music Album' %}checked{% endif %} type="radio" name="typeof" value="Music Album" required>Music Album</label>
                            </div>
                            <div class="radio">
                                <label><input {% if item.typeof == 'Video Game'%}checked{% endif %} type="radio" name="typeof" value="Video Game" required>Video Game</label>
                            </div>
                            </div>                    
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="">Release Date</label>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" id="release_date" name="release_date" placeholder="dd-mm-yyyy" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="location">Location</label>
                            <div class="col-lg-4">
                                <select class="form-control" id="location" name="location">
                                    {% for location in locations %}
                                    <option value="{{location.key.id()}}" {% if item.item_location == location.name %}selected{% endif %}>
                                        {{location.name}}
                                    </option>
                                    {% endfor %}

                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="">Available</label>
                            <div class="col-lg-4">
                            <div class="checkbox">
                                <label><input type="checkbox" name="available" value="true" {% if item.available == True %}checked{% endif %}></label>
                            </div>    
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-4">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </div> 
                    </form>
                </div>
            </div>
{% endblock %}
{% block footer_script %}
    <script>
        $(function ()
        // prepopulates date field with current data 
        {
            $("#release_date").val('{{item.release_date}}'.substr(8,2)+ '-' + '{{item.release_date}}'.substr(5,2) + '-' + '{{item.release_date}}'.substr(0,4));
            $("#release_date").datepicker({ dateFormat: 'dd-mm-yy',changeMonth: true, changeYear: true });    

        });

        // jQuery plugin to prevent double submission of forms
        jQuery.fn.preventDoubleSubmission = function () {
            $(this).on('submit', function (e) {
                var $form = $(this);

                if ($form.data('submitted') === true) {
                    // Previously submitted - don't submit again
                    e.preventDefault();
                } else {
                    // Mark it so that the next submit can be ignored
                    $form.data('submitted', true);
                }
            });
            return this;
        };
    </script>   
{% endblock %}