{% extends "template/base.html" %}
{% block title %}Pokeapi Guide{% endblock %}
{% block content %}
            <div class="row">
    <div class="jumbotron">
        <h1>Pokeapi Guide</h1>
        <h3>with jQuery Mobile and PhoneGap/Cordova</h3>
    </div>
</div>
<p>By Dennis Tat</p>
<br>
<div class="container">
<div class="row">
   <div class="col-md-8">
    <p>This is a guide on how to make a simple single-page mobile app with <a href="http://pokeapi.co/" target="_blank">Pokeapi</a> in conjunction with <a href="https://jquerymobile.com/" target="_blank">jQuery Mobile</a> and <a href="http://phonegap.com/" target="_blank">PhoneGap/Cordova</a>. Pokeapi is a web API that contains data on the Pokemon video games. From Pokeapi, you can get information on over 700 Pokemon such as their names, descriptions, types, and even images of the sprites used in the video games. Using this information, you could build your own web-based Pokedex (which is basically an encyclopedia of Pokemon). By using jQuery Mobile and Phonegap, this application can be easily be made into a cross-platform, native mobile application.</p>
    <p>Pokeapi accepts HTTP requests via GET. This API does not require an API key, so anyone can immediately jump in and start making requests. However, there is a daily limit of 300 requests for each resource (so each specific URL can be called up to 300 times per day).</p>
    <p>This guide will walk through how to start making requests to Pokeapi using the previously mentioned tools and go through some sample calls so that you can start constructing your own Pokedex.</p>
    <p>We'll start with building the app with just jQuery Mobile so we can develop more quickly and view it in the web browser. Then we'll wrap the project with Phonegap to make it a native application. You can find all the documentation on how to start projects with jQuery Mobile and Phonegap at the links mentioned above.</p>
    </div>
</div>
</div>

<div class="row">
    <nav>
  <ul class="pager">
    
    <li><a href="/page0">Next</a></li>
  </ul>
</nav>
</div>




            
{% endblock %}