{% extends "template/base.html" %}
{% block title %}Pokeapi Guide{% endblock %}
{% block content %}

<h1>Viewing the JSON Response</h1>

<div class="container">
    <div class="row">
        <div class="col-md-8">
        <p>Here is the parsed JSON response object from our request on the previous page (stringify'd version):</p>
        <pre class="pre-scrollable">
{
  "abilities": [
    {
      "name": "static",
      "resource_uri": "/api/v1/ability/9/"
    },
    {
      "name": "lightningrod",
      "resource_uri": "/api/v1/ability/31/"
    }
  ],
  "attack": 55,
  "catch_rate": 0,
  "created": "2013-11-03T15:05:41.317235",
  "defense": 40,
  "descriptions": [
    {
      "name": "pikachu_gen_1",
      "resource_uri": "/api/v1/description/382/"
    },
    {
      "name": "pikachu_gen_1",
      "resource_uri": "/api/v1/description/383/"
    },
    {
      "name": "pikachu_gen_2",
      "resource_uri": "/api/v1/description/384/"
    },
    {
      "name": "pikachu_gen_1",
      "resource_uri": "/api/v1/description/379/"
    },
    {
      "name": "pikachu_gen_1",
      "resource_uri": "/api/v1/description/380/"
    },
    {
      "name": "pikachu_gen_2",
      "resource_uri": "/api/v1/description/385/"
    },
    {
      "name": "pikachu_gen_2",
      "resource_uri": "/api/v1/description/386/"
    },
    {
      "name": "pikachu_gen_3",
      "resource_uri": "/api/v1/description/387/"
    },
    {
      "name": "pikachu_gen_3",
      "resource_uri": "/api/v1/description/388/"
    },
    {
      "name": "pikachu_gen_3",
      "resource_uri": "/api/v1/description/389/"
    },
    {
      "name": "pikachu_gen_3",
      "resource_uri": "/api/v1/description/390/"
    },
    {
      "name": "pikachu_gen_3",
      "resource_uri": "/api/v1/description/391/"
    },
    {
      "name": "pikachu_gen_4",
      "resource_uri": "/api/v1/description/392/"
    },
    {
      "name": "pikachu_gen_4",
      "resource_uri": "/api/v1/description/393/"
    },
    {
      "name": "pikachu_gen_4",
      "resource_uri": "/api/v1/description/394/"
    },
    {
      "name": "pikachu_gen_5",
      "resource_uri": "/api/v1/description/395/"
    },
    {
      "name": "pikachu_gen_6",
      "resource_uri": "/api/v1/description/396/"
    },
    {
      "name": "pikachu_gen_6",
      "resource_uri": "/api/v1/description/397/"
    },
    {
      "name": "pikachu_gen_1",
      "resource_uri": "/api/v1/description/381/"
    }
  ],
  "egg_cycles": 0,
  "egg_groups": [
    {
      "name": "Fairy",
      "resource_uri": "/api/v1/egg/6/"
    },
    {
      "name": "Ground",
      "resource_uri": "/api/v1/egg/5/"
    }
  ],
  "ev_yield": "",
  "evolutions": [
    {
      "method": "stone",
      "resource_uri": "/api/v1/pokemon/26/",
      "to": "Raichu"
    }
  ],
  "exp": 105,
  "growth_rate": "",
  "happiness": 0,
  "height": "4",
  "hp": 35,
  "male_female_ratio": "",
  "modified": "2013-11-23T13:13:24.383925",
  "moves": [
    {
      "learn_type": "tutor",
      "name": "Covet",
      "resource_uri": "/api/v1/move/343/"
    },
    {
      "learn_type": "machine",
      "name": "Wild-charge",
      "resource_uri": "/api/v1/move/528/"
    },
    {
      "learn_type": "machine",
      "name": "Volt-switch",
      "resource_uri": "/api/v1/move/521/"
    },
    {
      "learn_type": "machine",
      "name": "Echoed-voice",
      "resource_uri": "/api/v1/move/497/"
    },
    {
      "learn_type": "machine",
      "name": "Round",
      "resource_uri": "/api/v1/move/496/"
    },
    {
      "learn_type": "level up",
      "level": 18,
      "name": "Electro-ball",
      "resource_uri": "/api/v1/move/486/"
    },
    {
      "learn_type": "tutor",
      "name": "Magnet-rise",
      "resource_uri": "/api/v1/move/393/"
    },
    {
      "learn_type": "tutor",
      "name": "Signal-beam",
      "resource_uri": "/api/v1/move/324/"
    },
    {
      "learn_type": "tutor",
      "name": "Knock-off",
      "resource_uri": "/api/v1/move/282/"
    },
    {
      "learn_type": "tutor",
      "name": "Helping-hand",
      "resource_uri": "/api/v1/move/270/"
    },
    {
      "learn_type": "machine",
      "name": "Charge-beam",
      "resource_uri": "/api/v1/move/451/"
    },
    {
      "learn_type": "machine",
      "name": "Grass-knot",
      "resource_uri": "/api/v1/move/447/"
    },
    {
      "learn_type": "machine",
      "name": "Captivate",
      "resource_uri": "/api/v1/move/445/"
    },
    {
      "learn_type": "level up",
      "level": 37,
      "name": "Discharge",
      "resource_uri": "/api/v1/move/435/"
    },
    {
      "learn_type": "machine",
      "name": "Fling",
      "resource_uri": "/api/v1/move/374/"
    },
    {
      "learn_type": "level up",
      "level": 29,
      "name": "Feint",
      "resource_uri": "/api/v1/move/364/"
    },
    {
      "learn_type": "machine",
      "name": "Natural-gift",
      "resource_uri": "/api/v1/move/363/"
    },
    {
      "learn_type": "tutor",
      "name": "Counter",
      "resource_uri": "/api/v1/move/68/"
    },
    {
      "learn_type": "machine",
      "name": "Shock-wave",
      "resource_uri": "/api/v1/move/351/"
    },
    {
      "learn_type": "machine",
      "name": "Secret-power",
      "resource_uri": "/api/v1/move/290/"
    },
    {
      "learn_type": "machine",
      "name": "Brick-break",
      "resource_uri": "/api/v1/move/280/"
    },
    {
      "learn_type": "machine",
      "name": "Focus-punch",
      "resource_uri": "/api/v1/move/264/"
    },
    {
      "learn_type": "machine",
      "name": "Facade",
      "resource_uri": "/api/v1/move/263/"
    },
    {
      "learn_type": "machine",
      "name": "Rock-smash",
      "resource_uri": "/api/v1/move/249/"
    },
    {
      "learn_type": "machine",
      "name": "Dig",
      "resource_uri": "/api/v1/move/91/"
    },
    {
      "learn_type": "machine",
      "name": "Rain-dance",
      "resource_uri": "/api/v1/move/240/"
    },
    {
      "learn_type": "machine",
      "name": "Hidden-power",
      "resource_uri": "/api/v1/move/237/"
    },
    {
      "learn_type": "machine",
      "name": "Iron-tail",
      "resource_uri": "/api/v1/move/231/"
    },
    {
      "learn_type": "machine",
      "name": "Dynamicpunch",
      "resource_uri": "/api/v1/move/223/"
    },
    {
      "learn_type": "machine",
      "name": "Frustration",
      "resource_uri": "/api/v1/move/218/"
    },
    {
      "learn_type": "machine",
      "name": "Return",
      "resource_uri": "/api/v1/move/216/"
    },
    {
      "learn_type": "machine",
      "name": "Sleep-talk",
      "resource_uri": "/api/v1/move/214/"
    },
    {
      "learn_type": "machine",
      "name": "Attract",
      "resource_uri": "/api/v1/move/213/"
    },
    {
      "learn_type": "machine",
      "name": "Swagger",
      "resource_uri": "/api/v1/move/207/"
    },
    {
      "learn_type": "machine",
      "name": "Rollout",
      "resource_uri": "/api/v1/move/205/"
    },
    {
      "learn_type": "machine",
      "name": "Endure",
      "resource_uri": "/api/v1/move/203/"
    },
    {
      "learn_type": "machine",
      "name": "Detect",
      "resource_uri": "/api/v1/move/197/"
    },
    {
      "learn_type": "machine",
      "name": "Zap-cannon",
      "resource_uri": "/api/v1/move/192/"
    },
    {
      "learn_type": "machine",
      "name": "Mud-slap",
      "resource_uri": "/api/v1/move/189/"
    },
    {
      "learn_type": "machine",
      "name": "Protect",
      "resource_uri": "/api/v1/move/182/"
    },
    {
      "learn_type": "machine",
      "name": "Curse",
      "resource_uri": "/api/v1/move/174/"
    },
    {
      "learn_type": "machine",
      "name": "Snore",
      "resource_uri": "/api/v1/move/173/"
    },
    {
      "learn_type": "machine",
      "name": "Defense-curl",
      "resource_uri": "/api/v1/move/111/"
    },
    {
      "learn_type": "machine",
      "name": "Strength",
      "resource_uri": "/api/v1/move/70/"
    },
    {
      "learn_type": "machine",
      "name": "Headbutt",
      "resource_uri": "/api/v1/move/29/"
    },
    {
      "learn_type": "machine",
      "name": "Thunderpunch",
      "resource_uri": "/api/v1/move/9/"
    },
    {
      "learn_type": "level up",
      "level": 50,
      "name": "Light-screen",
      "resource_uri": "/api/v1/move/113/"
    },
    {
      "learn_type": "level up",
      "level": 6,
      "name": "Tail-whip",
      "resource_uri": "/api/v1/move/39/"
    },
    {
      "learn_type": "level up",
      "level": 20,
      "name": "Slam",
      "resource_uri": "/api/v1/move/21/"
    },
    {
      "learn_type": "machine",
      "name": "Substitute",
      "resource_uri": "/api/v1/move/164/"
    },
    {
      "learn_type": "machine",
      "name": "Rest",
      "resource_uri": "/api/v1/move/156/"
    },
    {
      "learn_type": "machine",
      "name": "Flash",
      "resource_uri": "/api/v1/move/148/"
    },
    {
      "learn_type": "machine",
      "name": "Skull-bash",
      "resource_uri": "/api/v1/move/130/"
    },
    {
      "learn_type": "level up",
      "level": 26,
      "name": "Swift",
      "resource_uri": "/api/v1/move/129/"
    },
    {
      "learn_type": "machine",
      "name": "Bide",
      "resource_uri": "/api/v1/move/117/"
    },
    {
      "learn_type": "machine",
      "name": "Reflect",
      "resource_uri": "/api/v1/move/115/"
    },
    {
      "learn_type": "machine",
      "name": "Double-team",
      "resource_uri": "/api/v1/move/104/"
    },
    {
      "learn_type": "machine",
      "name": "Mimic",
      "resource_uri": "/api/v1/move/102/"
    },
    {
      "learn_type": "machine",
      "name": "Rage",
      "resource_uri": "/api/v1/move/99/"
    },
    {
      "learn_type": "level up",
      "level": 16,
      "name": "Quick-attack",
      "resource_uri": "/api/v1/move/98/"
    },
    {
      "learn_type": "level up",
      "level": 33,
      "name": "Agility",
      "resource_uri": "/api/v1/move/97/"
    },
    {
      "learn_type": "machine",
      "name": "Toxic",
      "resource_uri": "/api/v1/move/92/"
    },
    {
      "learn_type": "level up",
      "level": 43,
      "name": "Thunder",
      "resource_uri": "/api/v1/move/87/"
    },
    {
      "learn_type": "level up",
      "level": 9,
      "name": "Thunder-wave",
      "resource_uri": "/api/v1/move/86/"
    },
    {
      "learn_type": "machine",
      "name": "Thunderbolt",
      "resource_uri": "/api/v1/move/85/"
    },
    {
      "learn_type": "level up",
      "level": 1,
      "name": "Thundershock",
      "resource_uri": "/api/v1/move/84/"
    },
    {
      "learn_type": "machine",
      "name": "Seismic-toss",
      "resource_uri": "/api/v1/move/69/"
    },
    {
      "learn_type": "machine",
      "name": "Submission",
      "resource_uri": "/api/v1/move/66/"
    },
    {
      "learn_type": "other",
      "name": "Surf",
      "resource_uri": "/api/v1/move/57/"
    },
    {
      "learn_type": "level up",
      "level": 1,
      "name": "Growl",
      "resource_uri": "/api/v1/move/45/"
    },
    {
      "learn_type": "machine",
      "name": "Double-edge",
      "resource_uri": "/api/v1/move/38/"
    },
    {
      "learn_type": "machine",
      "name": "Take-down",
      "resource_uri": "/api/v1/move/36/"
    },
    {
      "learn_type": "machine",
      "name": "Body-slam",
      "resource_uri": "/api/v1/move/34/"
    },
    {
      "learn_type": "machine",
      "name": "Mega-kick",
      "resource_uri": "/api/v1/move/25/"
    },
    {
      "learn_type": "machine",
      "name": "Pay-day",
      "resource_uri": "/api/v1/move/6/"
    },
    {
      "learn_type": "machine",
      "name": "Mega-punch",
      "resource_uri": "/api/v1/move/5/"
    }
  ],
  "name": "Pikachu",
  "national_id": 25,
  "pkdx_id": 25,
  "resource_uri": "/api/v1/pokemon/25/",
  "sp_atk": 50,
  "sp_def": 50,
  "species": "",
  "speed": 90,
  "sprites": [
    {
      "name": "pikachu",
      "resource_uri": "/api/v1/sprite/26/"
    }
  ],
  "total": 0,
  "types": [
    {
      "name": "electric",
      "resource_uri": "/api/v1/type/13/"
    }
  ],
  "weight": "60"
}
        </pre>
        <p>That is a lot of data. And that was only from one request. If you look back at the URL, the Pokemon data we requested was for Pokemon #25. There were 151 Pokemon in the first generation of Pokemon. This franchise now spans 20 years, or six "generations." So that means for Pokemon #25, a Pokemon from Generation I, there is 20 years worth of data. For a newer Pokemon from Generation VI, there would be less data because that Pokemon has been in fewer games.</p>
        <p>From quickly scanning the JSON object, or if you're familiar with Pokemon, you can tell that Pokemon #25 is Pikachu. If you couldn't tell, that's OK. We will go over how to extract the Pokemon's name from the JSON object later.</p>
        <h2>Reading the Response</h2>
        <p>To break things down, let's look at the first item in our response:</p>
        <pre>
{
  "abilities": [
    {
      "name": "static",
      "resource_uri": "/api/v1/ability/9/"
    },
    {
      "name": "lightningrod",
      "resource_uri": "/api/v1/ability/31/"
    }
  ],
...
        </pre>
        <p>Our first key is <code>abilities</code>, which is actually an array. This array holds the data of Pikachu's abilities. Each item in the array represents a different ability.</p>
        <p>The first item in the array has the key <code>name</code> with the value <code>"static"</code>. This means Pikachu's first ability is named "static." The next key for the first item in the array is a <code>resource_uri</code> to the value <code>"/api/v1/ability/9/"</code>, which is another URL we can make a request to to get data about the "static" ability.</p>
        <p>Similarly, the second item in the array is Pikachu's second ability. The second ability has the <code>"name": "lighteningrod"</code> and also has a <code>resource_uri</code> for that ability.</p>
        <p>Now that we can read the JSON response, let's pick out data that we could use for a Pokedex.</p>
        </div>
    </div>
</div>

<div class="row">
    <nav>
  <ul class="pager">
    <li><a href="page1">Previous</a></li>
    <li><a href="/page3">Next</a></li>
  </ul>
</nav>
</div>



{% endblock %}