{% extends "template/base.html" %}
{% block title %}Pokeapi Guide{% endblock %}
{% block content %}

<h1>Making other API Requests</h1>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Pokemon Description</h2>
            <p>Earlier, I mentioned another item that would be useful for a Pokedex would be a description of the Pokemon. Going back to  the entire JSON object on the <a href="/page2" target="_blank">second page</a>, towards the top, you'll find this:</p>
            <pre class="pre-scrollable">
"descriptions": [
    {
      "name": "pikachu_gen_1",
      "resource_uri": "/api/v1/description/382/"
    },
    {
      "name": "pikachu_gen_1",
      "resource_uri": "/api/v1/description/383/"
    },
    {
      "name": "pikachu_gen_2",
      "resource_uri": "/api/v1/description/384/"
    },
    {
      "name": "pikachu_gen_1",
      "resource_uri": "/api/v1/description/379/"
    },
    {
      "name": "pikachu_gen_1",
      "resource_uri": "/api/v1/description/380/"
    },
    {
      "name": "pikachu_gen_2",
      "resource_uri": "/api/v1/description/385/"
    },
    {
      "name": "pikachu_gen_2",
      "resource_uri": "/api/v1/description/386/"
    },
    {
      "name": "pikachu_gen_3",
      "resource_uri": "/api/v1/description/387/"
    },
    {
      "name": "pikachu_gen_3",
      "resource_uri": "/api/v1/description/388/"
    },
    {
      "name": "pikachu_gen_3",
      "resource_uri": "/api/v1/description/389/"
    },
    {
      "name": "pikachu_gen_3",
      "resource_uri": "/api/v1/description/390/"
    },
    {
      "name": "pikachu_gen_3",
      "resource_uri": "/api/v1/description/391/"
    },
    {
      "name": "pikachu_gen_4",
      "resource_uri": "/api/v1/description/392/"
    },
    {
      "name": "pikachu_gen_4",
      "resource_uri": "/api/v1/description/393/"
    },
    {
      "name": "pikachu_gen_4",
      "resource_uri": "/api/v1/description/394/"
    },
    {
      "name": "pikachu_gen_5",
      "resource_uri": "/api/v1/description/395/"
    },
    {
      "name": "pikachu_gen_6",
      "resource_uri": "/api/v1/description/396/"
    },
    {
      "name": "pikachu_gen_6",
      "resource_uri": "/api/v1/description/397/"
    },
    {
      "name": "pikachu_gen_1",
      "resource_uri": "/api/v1/description/381/"
    }
  ],
            </pre>
            <p>Again, we can see there is quite a lot of data here just from this one object. This <code>descriptions</code> object is an array of 19 different elements. Each element represents a different game that Pikachu is present in.</p>
            <p>Each element has a <code>name</code> that describes what generation the description data is from (each generation can have multiple games), and a <code>resource_uri</code> that we can make a request to in order to more data about that description. We can see that this array does not actually contain the actual descriptions of Pikachu. We will have to make a new API request: </p>
            <pre class="prettyprint">
function pokeSubmit(){
    var param = document.getElementById("pokeInput").value;
    var pokeURL = "http://pokeapi.co/api/v1/pokemon/" + param;

    $.getJSON(pokeURL, function(data){
        //console.log(data);
        //console.log(JSON.stringify(data, null, "  "));

        var pokeID = data.national_id;
        var pokeName = data.name;
        var pokeType1 = data.types[0].name;
        if (data.types.length == 2) {
            var pokeType2 = data.types[1].name;
        }
        else var pokeType2 = null;

        // concatenate new URL for next GET request
        var descriptionURI = "http://pokeapi.co" + data.descriptions[0].resource_uri;

        // this var will hold the description string
        var pokeDescription = "";

	// GET request to new URL
	$.getJSON(descriptionURI, function(data2){
		console.log(data2);

		//console.log("Number: ", pokeID);
		//console.log("Name: ", pokeName);
		//console.log("Type 1: ", pokeType1);
		//console.log("Type 2: ", pokeType2);
		//console.log("Description URI: ", descriptionURI);
        });        

    });	// 2nd GET request is nested inside success function of 1st request
}
            </pre>
            <p>As we saw from above, there are 19 URLs we can choose from. Let's go old school and use the <code>resource_uri</code> of the first element in the <code>descriptions</code> array above: <code>"resource_uri": "/api/v1/description/382/"</code> which appears to be a description of Pikachu from Generation I.</p>
            <p>In the code above, we prepare a new URL to make a second GET request. We access the <code>descriptionURI</code> by setting it to <code>data.descriptions[0].resource_uri</code>. We just need one description, so that's why we grab the first element (index 0). Then from that element, we can access <code>resource_uri</code>. We construct the new URL by concatenating this value with the base API URL. <code>var pokeDescription</code> is an empty string that will eventually hold the description text.</p>
            <p>Next, we make a new GET request to the new URL. Notice how this request is nested inside the success function of the 1st request. We do this because we need the first GET request to finish first before we begin the second one. The second GET request constructs the URL with the data from the first request. I've also moved our console logs into the success function of the second request so that all our logs are organized.</p>
            <p>Here is the parsed stringify'd JSON object response for <code>data2</code> that we logged to the console:</p>
            <pre>
{
  "created": "2013-12-24T17:14:43.357362",
  "description": "It raises its tail to check its sur roundings. The tail is sometimes struck by light ning in this pose.",
  "games": [
    {
      "name": "blue",
      "resource_uri": "/api/v1/game/5/"
    }
  ],
  "id": 382,
  "modified": "2014-01-18T14:29:54.028223",
  "name": "Pikachu_gen_1",
  "pokemon": {
    "name": "pikachu",
    "resource_uri": "/api/v1/pokemon/25/"
  },
  "resource_uri": "/api/v1/description/382/"
}
            </pre>
            <p>For desciptions of what each of these keys means, see the <a href="http://pokeapi.co/docsv1/#description" target="_blank">official documentation</a>. </p>
            <p>What we really care about in this response is the <code>description</code> key: </p>
            <pre>
"description": "It raises its tail to check its sur roundings. The tail is sometimes struck by light ning in this pose."
            </pre>
            <p>Here, we finally see a string value that is an actual description of Pikachu. Using the techniques described earlier, we can access this data with <code>dat2.objectName</code>, which would be <code>data2.description</code>. This will return our desired string value. We can view this by setting it to the appropriate variable and logging it to the console.</p>
            <pre class="pre-scrollable prettyprint">
function pokeSubmit(){

...

    // GET request to new URL
    $.getJSON(descriptionURI, function(data2){
      //console.log(data2);
      pokeDescription = data2.description;

      console.log("Number: ", pokeID);
      console.log("Name: ", pokeName);
      console.log("Type 1: ", pokeType1);
      onsole.log("Type 2: ", pokeType2);
      console.log("Description URI: ", descriptionURI);
      console.log("Description: ", pokeDescription);
    });    

  }); // 2nd GET request is nested inside success function of 1st request
}
            </pre>
            <p>After adding the log function, this is what we see in the console:</p>
            <pre>
Number: 25
Name: Pikachu
Type 1: electric
Type 2: null
Description URI: http://pokeapi.co/api/v1/description/382/
Description: It raises its tail to check its sur roundings. The tail is sometimes struck by light ning in this pose.
            </pre>
            <p>Which is exactly what we expected.
            Using the methods described on this page, we have the option to make API requests to the other URLs above to get 18 other descriptions of Pikachu from different Pokemon video games.</p>
            <p>Next, we will explore how to get images from Pokeapi.</p>
        </div>
    </div>
</div>


<div class="row">
    <nav>
  <ul class="pager">
    <li><a href="page3">Previous</a></li>
    <li><a href="/page5">Next</a></li>
  </ul>
</nav>
</div>


{% endblock %}