{% extends "template/base.html" %}
{% block title %}Pokeapi Guide{% endblock %}
{% block content %}
<h1>Making an API Request</h1>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <p>Since Pokeapi does not require an API key, we can get started right away on making an API request with jQuery. We will be using AJAX to get the data from Pokeapi.</p>
            <p>Here is the code to get us started:</p>
            <pre class="prettyprint">
function pokeSubmit(){
    var param = document.getElementById("pokeInput").value;
    var pokeURL = "http://pokeapi.co/api/v1/pokemon/" + param;

    $.getJSON(pokeURL, function(data){
        console.log(data);
        console.log(JSON.stringify(data, null, "  "));

    });
}
            </pre>
            <p>Here is our function that handles the GET request after clicking the button. First, we grab the user input and store it in <code>var param</code>. The user input can be the number or name of a Pokemon. Then, we construct the URL for the GET request by concatenating the base URL with the user input.
            
            <code>$.getJSON()</code> is jQuery's shorthand method to make an HTTP GET request. We pass in the <code>pokeURL</code> that we constructed and a function that executes upon the success of the GET request.  
            <p>Our success function uses <code>data</code> as a parameter, which is the response of the GET request.</p>
            <p>Pokeapi responds with JSON data. <code>$.getJSON()</code> automatically parses the JSON response so we can read it easily. For us to read it, we can just use <code>console.log(data)</code> to read our response in the console. This way, we can view our parsed response in the console log with tabs for each key and value. Optionally, you can also  use <code>console.log(JSON.stringify(data, null, "  "))</code> which converts the JSON response into one formatted string without clickable tabs, so you can see all the data at once.</p> 
            <p>We can log the data either way depending on how we want to view our data. It is up to you whether you want to use one or both of these data-viewing methods. 
            </p>
            <p>Next, let's see what our response looks like. For these next examples, we're going to pretend that the user entered <code>25</code> into the form, such that the GET request is to <code>"http://pokeapi.co/api/v1/pokemon/25"</code>.</p>
        </div>
    </div>
</div>


<div class="row">
    <nav>
  <ul class="pager">
    <li><a href="/page0">Previous</a></li>
    <li><a href="/page2">Next</a></li>
  </ul>
</nav>
</div>

{% endblock %}